* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

nav {
  font-family: "Rubik", sans-serif;
  position: sticky;
  top: 100px;
  left: 0;
  background-color: white;

  .navInside {
    #navtext {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      height: 50px;

      .nav-item {
        display: flex;
        align-items: center;
        height: 50px;
        position: relative;

        a {
          color: gray;
          font-weight: bold;
          font-size: 14px;
        }

        .submenu {
          position: absolute;
          display: flex;
          line-height: 2;
          top: 30px;
          width: fit-content;
          transform: translateY(0);
          background-color: rgb(255, 255, 255);
          min-width: 150px;
          gap: 30px;
          transition: 0.4s;
          height: 0;
          overflow: hidden;

          ul {
            h1 {
              width: 200px;
            }

            li {
              transition: 0.4s;
              padding: 10px;
            }

            li:hover {
              transform: translateX(10px);
              transition: 0.4s;
            }

            li:hover a {
              text-decoration: underline;
              color: #abd373;
            }
          }
        }
      }

      .nav-item:hover .submenu {
        height: fit-content;
        transition: 0.4s;
        transform: translateY(1);
      }
    }
  }
}

.resp-nav {
  font-family: "Rubik", sans-serif;
  width: 300px;
  background-color: #525252;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  transform: translateX(-300px);

  .resp-nav-inside {
    height: 80%;
    width: 80%;
    margin: auto;

    .cancel {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 20px;

      i {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .number {
      display: flex;
      align-items: center;
      font-size: 20px;

      i {
        color: #abd373;
        font-size: 40px;
        margin-right: 5px;
        cursor: pointer;
      }
    }

    .selections {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
    .accordion {
      a {
        color: white;
      }
      ul {
        li {
          width: 100%;
          padding: 10px;
        }
        .acc-li {
          .acc-inside-ul {
            height: 0;
            overflow: hidden;
            transform: translateX(-30px);
            transition: 0.5s;
            .acc-li-inside {
              .acc-li-inside-ul {
                height: 0;
                overflow: hidden;
                transform: translateX(-30px);
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }
}
.active {
  height: fit-content!important;
  transform: translateX(0px)!important;
  transition: 0.5s!important;
}

@media screen and (max-width: 802px) {
  nav {
    display: none;
  }
}
@media screen and (min-width: 802px) {
  .resp-nav {
    display: none;
  }
}
